<!DOCTYPE html>
<html>

<head>
    <title>Your Bus Pass</title>
    <style>
        body {
            font-family: Arial;
            background: #020617;
            color: white;
            text-align: center;
            padding-top: 100px;
        }

        .card {
            background: #1e293b;
            padding: 30px;
            border-radius: 15px;
            display: inline-block;
            width: 300px;
        }

        h2 {
            color: #38bdf8;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body>

    <div class="card">
        <h2>🎟️ Bus Pass</h2>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Route:</strong> {{route}}</p>
        <p><strong>Date:</strong> {{date}}</p>
    </div>

</body>

</html>